auto-install-peers=false
strict-peer-dependencies=false

# Install optional native binaries for the current platform only (cross-platform).
supportedArchitectures.os=current
supportedArchitectures.cpu=current
supportedArchitectures.libc=current
